extends ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered.table-striped
				thead
					tr.info
						th 账号
						th 录入时间
				tbody
					each item in users
						tr(class="item-id-#{item._id}")
							td #{item.username}
							td #{moment(item.meta.createAt).format('YYYY-MM-DD')}